<!DOCTYPE html>
<html lang="en-us" ng-app="solrExamples">
    <head>
        <title>Solr Examples</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
            a { color: inherit; } 
        </style>
        
        <script src="http://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script>
            var solrExamples = angular.module('solrExamples', []);

            solrExamples.controller('mainController', ['$scope', '$http', '$window', function($scope, $http, $window) {

                $scope.searchQuery;
                $scope.autoSuggestSearchDesigners;
                $scope.autoSuggestSearchSubTypes;
                $scope.autoSuggestProducts;
                $scope.autoSuggestDesigners;
                $scope.autoSuggestCategories;

                $scope.autosuggest = function() {
                    $scope.autoSuggestSearchDesigners=null
                    $scope.autoSuggestSearchSubTypes=null
                    $scope.autoSuggestProducts=null
                    $scope.autoSuggestDesigners=null
                    $scope.autoSuggestCategories=null

                    if ($scope.searchQuery && $scope.searchQuery.length > 2){
                        $http.get('http://localhost:8080/autosuggest?query=' + $scope.searchQuery)
                            .then(function(response) {
                                $scope.autoSuggestSearchDesigners=response.data.designer;
                                $scope.autoSuggestSearchSubTypes=response.data.subtype;
                        });
                        $http.get('http://localhost:8080/autosuggest/product?query=' + $scope.searchQuery)
                            .then(function(response) {
                                $scope.autoSuggestProducts=response.data;
                        });
                        $http.get('http://localhost:8080/autosuggest/designer?query=' + $scope.searchQuery)
                            .then(function(response) {
                                $scope.autoSuggestDesigners=response.data;
                        });
                        $http.get('http://localhost:8080/autosuggest/category?query=' + $scope.searchQuery)
                            .then(function(response) {
                                $scope.autoSuggestCategories=response.data;
                        });
                    }
                }

                $scope.designersearchlink = function(designer_id) {
                    url = "http://localhost:8080/search/designer?query=" + $scope.searchQuery + "&designer_id=" + designer_id
                    $window.open(url)
                }

                $scope.subtypesearchlink = function(subtypetree) {
                    url = "http://localhost:8080/search/subtype?query=" + $scope.searchQuery + "&sub_type_tree=" + subtypetree
                    $window.open(url)
                }

                $scope.productlink = function(productid) {
                    url = "http://localhost:8080/product/" + productid
                    $window.open(url)
                }
            }]);
        </script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Solr Examples</a>
				</div>
			</div>
			</nav>
		</header>

        <div class="container">
            <div ng-controller="mainController">
                <div>
                    <label>Search: </label>
                    <input type="text" ng-change="autosuggest()" ng-model="searchQuery"/>
                    <button ng-click="dosearch()" >Search</button>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Search in designer:</h3>
                        <ul ng-repeat="designer in autoSuggestSearchDesigners">
                            <a href="" ng-click="designersearchlink(designer.identifier)">
                                {{searchQuery}} in <b>{{ designer.name + " (" + designer.count + ")" }} </b>
                            </a>
                        </ul>
                    </div>  
                    <div class="col-md-6">
                        <h3>Search in category:</h3>
                        <ul ng-repeat="subtype in autoSuggestSearchSubTypes">
                            <a href="" ng-click="subtypesearchlink(subtype.identifier)">
                                {{searchQuery}} in <b>{{ subtype.name + " (" + subtype.count + ")" }} </b>
                            </a>
                        </ul>
                    </div>  
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Products ({{ autoSuggestProducts.count }}):</h3>
                        <ul ng-repeat="product in autoSuggestProducts.products">
                            <a href="" ng-click="productlink(product.id)">
                                {{product.name}} by <b>{{ product.designer }}</b> in <b>{{ product.sub_type_tree }}</b>
                            </a>
                        </ul>
                    </div>  
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Designers:</h3>
                        <ul ng-repeat="designer in autoSuggestDesigners">
                            <a href="" ng-click="designersearchlink(designer.id)">
                                <b>{{ designer.name + " (" + designer.count + ")"}}</b>
                            </a>
                        </ul>
                    </div>  
                    <div class="col-md-6">
                        <h3>Categories:</h3>
                        <ul ng-repeat="category in autoSuggestCategories">
                            <a href="" ng-click="subtypesearchlink(category.name)">
                                <b>{{ category.name + " (" + category.count + ")"}}</b>
                            </a>
                        </ul>
                    </div>  
                </div>

                <hr/>
            </div>
		</div>
    </body>
</html>
